[submodule "external/SPSCQueue"]
	path = external/SPSCQueue
	url = https://github.com/rigtorp/SPSCQueue.git
[submodule "external/ConcurrentDeque"]
	path = external/ConcurrentDeque
	url = https://github.com/ConorWilliams/ConcurrentDeque.git
